<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='weather.css') }}">
    
    <title>WEATHER MAP</title>
</head>
<body>
    <br><br>
    <br><br>
     <br><br>   

    <div class="header">
        <h2>Weather Forecast</h2>
        {% if user %}
        <p>Welcome, <strong>{{ user }}</strong>!</p>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
         {% else %}
        <button class="signbtn">
            <a href="{{ url_for('sign') }}">Sign In</a>
        </button>
        {% endif %}
        
      
        <p id="transcript"></p>

        <div class="search-container">
            <form class="weatherForm">
                <div class="input-btn-container">
                    <input type="text" class="cityInput" placeholder="Enter city">
                    <button type="submit">Get Weather</button>
                </div>
            </form>
        </div>
         
            <div class="chat-container">
               <input type="text" id="chat-input" placeholder="Ask me anything...">
               <button id="send-btn">Send</button>
               <button id="voice-btn">🎤 Speak</button>
            </div>
    </div>
    <div id="weather-info" style="display:none">
        <h3>Weather Details:</h3>
          <p id="temperature"></p>
          <p id="humidity"></p>
           <p id="description"></p>
           <p id="weather-emoji"></p>
    </div>

    <div id="weather-display" style="display:none">
        <h3>Temperature Forecast Graph:</h3>
         <img id="weatherGraph" src="" alt="Weather Graph">
    </div>
    <div id="map" style="height: 500px; width: 100%;"></div>
    
    
    
    
    <!-- Go Maps Pro API Integration -->
    <script async defer
        src="https://maps.gomaps.pro/maps/api/js?key=AlzaSyXTEZUqP6FcEYNUblxuB18NBnxyv2eTUIi&libraries=geometry,places&callback=initMap"> </script> 
    <script src="{{ url_for('static', filename='weather.js') }}"></script>

</body>
</html>
